{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pages">
    {% if first is defined and current != first %}
        <span class="first">
            <a href="#main-content" data-page="{{first}}">&lt;&lt;</a>
        </span>
    {% endif %}

    {% if previous is defined %}
        <span class="previous">
            <a href="#main-content" data-page="{{previous}}">&lt;</a>
        </span>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="page">
                <a href="#main-content" data-page="{{ page }}">{{ page }}</a>
            </span>
        {% else %}
            <span class="current">{{ page }}</span>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <span class="next">
            <a href="#main-content" data-page="{{next}}">&gt;</a>
        </span>
    {% endif %}

    {% if last is defined and current != last %}
        <span class="last">
            <a href="#main-content" data-page="{{last}}">&gt;&gt;</a>
        </span>
    {% endif %}
</div>
{% endif %}
